@model IEnumerable<CuentasPorCobrar.Domain.TipoDocumentos>

@{
    ViewBag.Title = "Gestion de Tipo Documentos";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Crear nuevo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cuentacontable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @*@Html.DisplayFor(modelItem => item.Cuentacontable)*@
            @Html.DropDownListFor(model => item.Cuentacontable, (IEnumerable<SelectListItem>)ViewBag.CuentasContable,new { @disabled = "disabled" })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDDocumentos }) |
            @Html.ActionLink("Details", "Details", new { id=item.IDDocumentos }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IDDocumentos })
        </td>
    </tr>
}

</table>
